html {
	scroll-behavior: smooth;
	font-size: 1px;
	margin: 0;
}

html,body {
	height: 100%;
}
body {
	font-size: 16rem;
	font-family: var(--main-font);
	margin: 0 auto;
    padding: 0;
}

#root {
	height: 100%;
}

.root{
	display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

.container {
    max-width: 1440rem;
    margin: 0 auto;
    padding: 0;
}