@mixin text-gradient($start-color, $end-color) {
    background: linear-gradient(to right, $start-color, $end-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


@mixin linear-gradient-mixin {
    background: linear-gradient(
      90deg, 
      #2A19CBFF, 
      #491B97FF, 
      #B52EE8FF, 
      #C32255FF, 
      #CE118FFF
    );
}
